.mat-card-title{
    font-size: 22px; 
    width: 100px; 
    height: auto;
}
.mat-card-subtitle{
    font-size: 1rem; 
   
}
::ng-deep notecolor {
    border-radius: 10px !important;
    padding: px !important;
    // overflow: hidden !important;
  }