<div class="notecolor" [style.background]="color">
    <div [style.background]="color">
    <textarea matInput class="text-Description" [style.background]="color" placeholder= "Title" style="border: none; outline: none; font-family: 'Google Sans',Roboto,Arial,sans-serif;font-size: 1rem;" [(ngModel)]="title" ></textarea>
</div>
<div [style.background]="color">
    <textarea matInput class="text-Description" [style.background]="color"placeholder= "Note" style="border: none; outline: none;font-family: 'Google Sans',Roboto,Arial,sans-serif;font-size: 1rem;" [(ngModel)]="description"></textarea>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end">
    <div fxFlex="30"> 
        <app-icons [noteObject]="data" (iconstodisplay)="callingiconstodisplaynotes($event)"></app-icons>
    </div>
</div>
    <div>
        <div>
            <button mat-button (click)="onClose()" style="opacity: 0.9; margin-right: 10px;" >close</button>
    </div>

</div>